/* FlipCard.css */
.flip-card {
  perspective: 1000px;
  width: 220px;
  height: 300px;
  margin: 0 10px;
  flex: 0 0 25%;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .flip-card {
    flex: 0 0 25%; /* Increase the width for fewer columns on smaller screens */
  }
}

@media (max-width: 768px) {
  .flip-card {
    flex: 0 0 50%; /* Go to two columns or one column on very small screens */
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* Smoother animation */
}

.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  word-wrap: break-word;
}
.card-front {
  background-color: #fff;
}

.card-back {
  background-color: #f1f1f1;
  transform: rotateY(180deg); /* Flips the back face */
}

.flip-card .card-face::-webkit-scrollbar {
  width: 10px;
}

.flip-card .card-face::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.flip-card .card-face::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.flip-card .card-face::-webkit-scrollbar-thumb:hover {
  background: #555;
}
